*,
*::before,
*::after {
  box-sizing: border-box;
}
html,
body {
  height: 100vh;
  width: 100%;
  margin: 0;
  overflow: hidden;
  --main-font: 'Lobster', cursive;
  --cursive-font :'Parisienne', cursive;

  --text-color-primary: coral;
  --text-color-secondary: darkred;
  --text-accent-gold: darkgoldenrod;
}

#root {
  height: 100%;

}



body {
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
    font-family: var(--main-font);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
